* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
}

h1 {
  
}
section {
}
.skills {
  text-decoration:underline;
}
ul {
  list-style-type:square;
}
article {
  
}
#volunteer {
}
#jumbotron text-center {
}
